<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Гарри Поттер и Философский Камень</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/product.css">
</head>

<body>
    <header class="hdr">

        <div class="container">
            <nav class="hdr__nav navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Bookstore</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#home">Главная</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#best">Лучшее</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#genres">Жанры</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#age">Возрастная категория</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#bestingenre">Лучшее в жанре</a>
                            </li>
                        </ul>
                        <form class="hdr__nav-form d-flex">
                            <input class="form-control me-2" type="search" placeholder="Введите что-нибудь"
                                aria-label="Введите что-нибудь">
                            <button class="btn btn-outline-success" type="submit">Поиск</button>
                        </form>
                    </div>
                </div>
                <div class="hdr__nav-line"></div>
            </nav>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-4 product-media-f">
                    <img class="product__img" src="../img/plisoplhers-stone.png" alt="">
                    <div class="media-product">
                        <div class="product__rating-block">
                            <h3 class="product__rating">8.77</h3>
                            <h4 class="product__rating-src">(Лабиринт)</h4>
                        </div>
                        <a href="#" class="write-review">Оценить</a>
                        <div class="product__review-block">
                            <p class="product__reviews">1,456</p>
                            <p class="product__reviews-text">отзывов</p>
                        </div>
                        <p class="product__count">19</p>
                        <p class="product__count-text">книг осталось</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-8 col-12 product-media-s">
                    <div class="product__img-frame">
                        <img src="../img/plisoplhers-stone.png" alt="" class="product__center-img">
                    </div>

                    <div class="product__desk">
                        <h2 class="product__title">Гарри Поттер и Философский Камень</h2>
                        <div class="product__date-author">
                            <p class="product__author">Дж. Роулинг</p>
                            <p class="product__date">1997</p>
                        </div>
                        <p class="product__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, nemo.
                            Molestias labore repellendus vel nam. Facilis a quia nulla repudiandae nobis quibusdam,
                            explicabo cupiditate in eos id corrupti, cum exercitationem?</p>
                    </div>
                    <div class="product__buy">
                        <a href="#" class="product__buy-btn">Получить</a>
                        <p class="product__cost">100,000 сум</p>
                    </div>
                    <div class="product__data">
                        <div class="product__data-block">
                            <p class="product__translate-text">Переводы:</p>
                            <p class="product__translate">Росмэн, Махаон</p>
                        </div>
                        <div class="product__data-block">
                            <p class="product__translate-text">Жанр:</p>
                            <p class="product__translate">Фэнтези, Приключения</p>
                        </div>
                        <div class="product__data-block">
                            <p class="product__translate-text">Возрастная категория</p>
                            <p class="product__translate">12+</p>
                        </div>
                        <a href="#" class="info-btn"><i class="fas fa-ellipsis-h"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3 product-media-t">
                    <div class="product__rating-block">
                        <h3 class="product__rating">8.77</h3>
                        <h4 class="product__rating-src">(Лабиринт)</h4>
                    </div>
                    <a href="#" class="write-review">Оценить</a>
                    <div class="product__review-block">
                        <p class="product__reviews">1,456</p>
                        <p class="product__reviews-text">отзывов</p>
                    </div>
                    <p class="product__count">19</p>
                    <p class="product__count-text">книг осталось</p>
                </div>
            </div>
            <div class="product-info">
                <img class="product__img" src="../img/plisoplhers-stone.png" alt="">
                <div class="media-product btm">
                    <div class="product__rating-block">
                        <p class="product__rating">8.77</p>
                        <p class="product__rating-src">(Лабиринт)</p>
                    </div>
                    <a href="#" class="write-review">Оценить</a>
                    <div class="product__review-block">
                        <p class="product__reviews">1,456</p>
                        <p class="product__reviews-text">отзывов</p>
                    </div>
                    <div class="product__examples">
                        <p class="product__count">19</p>
                        <p class="product__count-text">книг осталось</p>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="also">

            <div class="container">
                <h2 class="also__title">С этим вместе читают<i class="fas fa-angle-right"></i></h2>
                <div class="also__cont">
                    <div class="also__book">
                        <p class="also__book-rating">8.77</p>
                        <img src="../img/chamber-of-secrets.png" alt="" class="also__book-img">
                        <p class="also__book-name">Гарри Поттер и Тайная Комната</p>
                    </div>
                    <div class="also__book">
                        <p class="also__book-rating">8.77</p>
                        <img src="../img/prisoner-of-azkaban.png" alt="" class="also__book-img">
                        <p class="also__book-name">Гарри Поттер и Узник Азкабана</p>
                    </div>
                    <div class="also__book">
                        <p class="also__book-rating">8.77</p>
                        <img src="../img/goblet-of-fire.png" alt="" class="also__book-img">
                        <p class="also__book-name">Гарри Поттер и Кубок Огня</p>
                    </div>
                    <div class="also__book">
                        <p class="also__book-rating">8.77</p>
                        <img src="../img/order-og-phoenix.png" alt="" class="also__book-img">
                        <p class="also__book-name">Гарри Поттер и Орден Феникса</p>
                    </div>
                    <div class="also__book">
                        <p class="also__book-rating">8.77</p>
                        <img src="../img/half-blood-prince.png" alt="" class="also__book-img">
                        <p class="also__book-name">Гарри Поттер и Принц-Полукровка</p>
                    </div>
                    <div class="also__book">
                        <p class="also__book-rating">8.77</p>
                        <img src="../img/deathly-hallows.png" alt="" class="also__book-img">
                        <p class="also__book-name">Гарри Поттер и Дары Смерти</p>
                    </div>
                </div>

            </div>

        </section>
    </main>
    <footer class="ftr">
        <div class="container">
            <div class="row">
                <ul class="ftr-ul col-lg-4 col-md-4 col-sm-4 col-4">
                    <h2 class="ftr-title">Помощь</h2>
                    <li class="ftr__li"><a>Доставка</a></li>
                    <li class="ftr__li"><a>Оплата</a></li>
                    <li class="ftr__li"><a>Поддержка</a></li>
                    <li class="ftr__li"><a>Как сделать заказ</a></li>
                    <li class="ftr__li"><a>Остальные вопросы</a></li>
                </ul>
                <ul class="ftr-ul col-lg-4 col-md-4 col-sm-4 col-4">
                    <h2 class="ftr-title">Жанры</h2>
                    <li class="ftr__li"><a>Фэнтези</a></li>
                    <li class="ftr__li"><a>Сказки</a></li>
                    <li class="ftr__li"><a>Романы</a></li>
                    <li class="ftr__li"><a>Приключения</a></li>
                    <li class="ftr__li"><a>Детектив</a></li>
                    <li class="ftr__li"><a>Другое...</a></li>
                </ul>
                <ul class="ftr-ul col-lg-4 col-md-4 col-sm-4 col-4">
                    <h2 class="ftr-title">Соцсети</h2>
                    <li class="ftr__li"><a>ВКонтакте</a></li>
                    <li class="ftr__li"><a>YouTube</a></li>
                    <li class="ftr__li"><a>Дзен</a></li>
                    <li class="ftr__li"><a>Телеграм</a></li>
                    <li class="ftr__li"><a>Одноклассники</a></li>
                    <li class="ftr__li"><a>Facebook</a></li>
                </ul>
            </div>
    
        </div>
    </footer>


    <script src="../js/bootstrap.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/other/jquery-product.js"></script>
    <script src="../js/other/product.js"></script>
</body>

</html>